<!DOCTYPE html>
<html>
  <head>
    <title>Add Interview</title>
    <link rel="stylesheet" href="/css/addInterview.css">
  </head>
  <body>
    <h1>Add Interview</h1>
    <form action="/interviews/add-interview" method="POST">
      <label for="company">Company:</label>
      <input type="text" id="company" name="company" required><br><br>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" required><br><br>
      <label for="students">Select Students to assign to this interview:</label>
      <% students.forEach(function(student) { %>
        <input type="checkbox" id="<%= student._id %>" name="students" value="<%= student._id %>">
        <label for="<%= student._id %>"><span><%= student.name %></span></label><br>
      <% }); %>
      <input type="submit" value="Submit">
    </form>
    
  </body>
</html>
